/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

/* ------------------------------- 2. Typography ----------------------------------- */

html {
    font-family: 'Poppins', sans-serif;
}

.title-div {
    color: white;
}

h1 {
    font-size: 46px;
}

.under-title {
    font-style: italic;
}
/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

header {
    display: flex;
    min-width: 100vw;
    min-height: 16rem;
    background-color: darkorange;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.title-div {
    text-align: center;
}

.under-title {
    margin: 0.5rem;
}
/* --------------- 4.1 main ------------------------- */

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 4rem;
}

/* --------------- 4.2 input-field ------------------- */

input {
    display: block;
}

.input-fields {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: darkorange;
    color: white;
    border-radius: 0.5rem;
}


/* --------------- 4.2 output-field ------------------- */

.output-fields{
    padding: 1rem;
    background-color: darkorange;
    color: white;
    border-radius: 0.5rem;
}

.order-result {
    background: white;
    color: black;
    border-radius: 0.5rem;
}

/* --------------- 4.3 footer ------------------------- */


/* ------------------------------- 5. Media Queries -------------------------------- */

