/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
    overflow-x: hidden;
}

/* ------------------------------- 2. Typography ----------------------------------- */

html {
    font-family: 'Poppins', sans-serif;
}

.title-div {
    color: white;
}

h1 {
    font-size: clamp(1.5rem, 10vw, 3rem);
}

.under-title {
    font-size: clamp(0.9rem, 1.5vw, 1.5rem);
    font-style: italic;
}

input {
    font-size: 1rem;
}
/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    gap: 1.5rem;
    flex-wrap: wrap;
}

/*styling for the tiles with in and output*/
.info-tiles {
    display: flex;
    padding: 1.5rem 1rem;
    background-color: darkorange;
    color: white;
    border-radius: 0.5rem;
    flex: 0 1 20rem;
    min-width: 10rem;
    flex-direction: column;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

header {
    display: flex;
    min-width: 100vw;
    min-height: 14rem;
    background-color: darkorange;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.title-div {
    text-align: center;
}

.under-title {
    margin: 0.5rem;
}
/* --------------- 4.1 main ------------------------- */



/* --------------- 4.2 input-field ------------------- */

input {
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.4rem;
    border: 0
}


/* --------------- 4.2 output-field ------------------- */


.order-result {
    background: white;
    color: black;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
}

/* --------------- 4.3 footer ------------------------- */


/* ------------------------------- 5. Media Queries -------------------------------- */

@media screen and (min-width: 800px) {

}

